.btn-blue {
    background-color: #428bca;
}
.btn-blue:hover {
    background-color: #3071a9;
}
.input-blue:focus {
    border-color: #428bca;
    box-shadow: 0 0 0 3px rgba(66, 139, 202, 0.4);
}

:host {
    display: block;
    height: 100%;
    margin: 0; /* Ensure no margin */
    padding: 0; /* Ensure no padding */
  }
  
  .dialog-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0; /* Remove internal padding */
    margin: 0; /* Remove internal margin */
  }
  
  .bg-white {
    height: 100%;
    overflow: auto; /* Allows for scrolling within the dialog content if needed */
  }
  
  