@import url(https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css);
.btn-blue {
    background-color: #428bca;
}
.btn-blue:hover {
    background-color: #3071a9;
}
.btn-red {
    background-color: #e3342f;
}
.btn-red:hover {
    background-color: #cc1f1a;
}