<div class="dialog-content">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full h-full">
      <h2 class="text-2xl font-bold text-gray-800 mb-6">Update User</h2>
      <form (ngSubmit)="updateUser()" #updateForm="ngForm">
        <div class="mb-4">
          <label for="username" class="block text-gray-700 font-medium mb-2">Username</label>
          <input [(ngModel)]="user.username"  type="text" id="username" name="username" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 input-blue" required>
        </div>
        <div class="mb-4">
          <label for="password" class="block text-gray-700 font-medium mb-2">Password</label>
          <input [(ngModel)]="password" type="password" id="password" name="password" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 input-blue">
        </div>
        <div class="mb-4">
          <label for="role" class="block text-gray-700 font-medium mb-2">Role</label>
          <select [(ngModel)]="user.role"  id="role" name="role" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 input-blue" required>
            <option value="USER">User</option>
            <option value="ADMIN">Admin</option>
          </select>
        </div>
        <div class="flex justify-between items-center">
          <button type="submit" class="btn-blue text-white px-4 py-2 rounded-lg hover:bg-blue-600">Update User</button>
          <button (click)="onCancel()" type="button"  class="text-blue-500 hover:underline">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  